.div-1 {
    max-width: 900px;
    max-height: 400px;
    background-color: green;
    color: white;
    font-size: large;
    position: relative;
}

.div-2 {
    max-width: 900px;
    max-height: 400px;
    background-color: blue;
    position: absolute;
    padding: 4px;
    margin: 2px;
    color: white;
}

/* z-index */